body {
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 90px;
    padding-bottom: 20px;
}
.navbar-inverse .navbar-brand {
    font-size: 24px;
    color: #fff;
}

.navbar-inverse {
    background-color: #ff4040;
    border-color: #ff4040;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #e02929;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label {
    margin-bottom: 8px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group .btn {
    padding: 8px 20px;
    border-radius: 7px;
}

.form-control {
    padding: 12px 15px;
    border-radius: 7px;
    height: auto;
}

.form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

/* Page level CSS */
.gigs {
    list-style: none;
    padding-left:0 ;
}
.gigs > li {
    position: relative;
    margin-bottom: 30px;
}
.gigs > li .date {
    display: inline-table;
    width: 80px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

li > .date > .day {
    width: 100%;
    padding: 7px 12px;
    font-size: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #f6f6f7;
    border-top-width: 0;
}

li > .date > .month {
    background-color: #e02929;
    color: #fff;
    padding: 5px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.gigs > li .details {
    position: absolute;
    left: 100px;
    top: 0;
}

li .details span.name {
    font-size: 23px;
    display: block;
}